@page "/"

<div class="jumbotron">
    <h1 class="display-4">
        <a href="https://github.com/servicetitan/Stl.Fusion" target="_blank">Fusion+Blazor Template</a>
    </h1>

    <p>To create your own app based on it:</p>
    <ul>
        <li>Copy it to a new folder</li>
        <li>Search for "Template.Blazor" everywhere in the new solution and replace it to your own project name</li>
        <li>Modify whatever you like!</li>
    </ul>

    <p>This template is pre-configured to support both Blazor Server and Blazor WebAssembly modes:</p>
    <div>
        <BlazorModeSwitch/>
    </div>
    <p>Note that <a href="/swagger" target="_blank">Swagger API browser</a> is already bundled.</p>

    <hr class="my-4">
    <p class="lead">Please share your feedback once you're done playing with it!</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://forms.gle/TpGkmTZttukhDMRB6" role="button">Share your feedback</a>
    </p>
</div>
