@page "/counter"
@using System.Threading
@using Samples.HelloBlazorHybrid.Abstractions
@using Stl.Fusion.Extensions
@inherits ComputedStateComponent<string>
@inject ICounterService _counter
@inject IFusionTime _time
@inject NavigationManager _nav

@{
    var state = State.ValueOrDefault;
    var error = State.Error;
}

<h1>Counter</h1>

<div class="alert alert-primary">
    Open this page in <a href="@_nav.Uri" target="_blank">another window</a> to see it updates in sync.
</div>
@if (error != null) {
    <div class="alert alert-warning" role="alert">Update error: @error.Message</div>
}

<p>Count: @state</p>

<button class="btn btn-primary" @onclick="Increment">Increment</button>

@code {
     protected override async Task<string> ComputeState(CancellationToken cancellationToken)
     {
         var count = await _counter.Get(cancellationToken);
         return $"{count}";
     }

    private async Task Increment()
    {
        await _counter.Increment();
    }
}
