@using System.Text
@page "/game"
@inject NavigationManager NavigationManager

<h3>Want to play?</h3>
<button class="btn btn-primary" @onclick="() => GoToPlay(_roomHash)">Play</button>

@code {
    private string _roomHash = "";
    private string pool = "abcdefghijklmnopqrstuvwxyz0123456789";
    private StringBuilder builder = new StringBuilder();
    readonly Random _rnd = new Random();

    private void GenerateHash()
    {
        for (int i = 0; i < 16; i++)
        {
            var c = pool[_rnd.Next(0, pool.Length)];
            builder.Append(c);
        }
        _roomHash = builder.ToString();
    }
    
    void GoToPlay(string address)
    {
        NavigationManager.NavigateTo($"/game/{address}");
    }

    protected override void OnInitialized()
    {
        GenerateHash();
    }
}