@attribute [MatchFor(typeof(GomokuEngine), ComponentScopes.GameRules)]
@inherits GameRulesBase

<p>Please see <a href="https://en.wikipedia.org/wiki/Gomoku#Official_rules">Gomoku page on Wikipedia</a>.</p>
