@page "/serverScreen"
@using System.Threading
@using System.Globalization
@inherits ComputedStateComponent<Screenshot>
@inject IScreenshotService _screenshots

@{
    var screenshot = State.LatestNonErrorValue;
    var error = State.Error;
}

<h1>Server Screen</h1>

<WhenUpdateError Exception="@error"/>

<Addons>
    <Addon AddonType="AddonType.Start"><AddonLabel>Screenshot width (in pixels):</AddonLabel></Addon>
    <TextEdit @bind-Text="@Width" type="search" />
    @if (Width != ActualWidth.ToString(CultureInfo.InvariantCulture)) {
        <Addon AddonType="AddonType.End"><AddonLabel>(actual width: @ActualWidth)</AddonLabel></Addon>
    }
</Addons>

<Paragraph Margin="Margin.Is3.OnY">
    <img src="data:image/jpeg;base64,@screenshot.Base64Content" alt="Server screen" width="100%"/><br/>
</Paragraph>

@code {
    [Parameter]
    public string Width { get; set; } = "1280"; // Parameter changes trigger InvalidateState() by default
    public int ActualWidth => Math.Max(8, Math.Min(1920, int.TryParse(Width, out var v) ? v : 0));

    protected override async Task OnInitializedAsync()
        => await State.Update(); // An example showing how to load the State before the first render

    protected override void ConfigureState(ComputedState<Screenshot>.Options options)
        => options.UpdateDelayer = UpdateDelayer.ZeroDelay;

    protected override Task<Screenshot> ComputeState(CancellationToken cancellationToken)
        => _screenshots.GetScreenshot(ActualWidth, cancellationToken);
}
