@page "/serverTime"
@using System.Threading
@inherits LiveComponentBase<DateTime>
@inject ITimeService Time

@{
    var time = State.LastValue.Format();
    var error = State.Error;
}

<h1>Server Time</h1>

<WhenException Title="Update error:" Exception="@error"/>

<StatefulComponentState Component="@this" />

<p>Server Time: <b>@time</b></p>

<Button Color="Color.Primary" @onclick="() => InvalidateState()">Refresh</Button>

@code {
    protected override void OnInitialized()
    {
        StateHasChangedTriggers = StateEventKind.All;
        base.OnInitialized();
    }

    protected override void ConfigureState(LiveState<DateTime>.Options options)
        => options.WithUpdateDelayer(0.5);

    protected override Task<DateTime> ComputeState(CancellationToken cancellationToken)
        => Time.GetTime(cancellationToken);
}
