@page "/"

<div class="jumbotron" xmlns="http://www.w3.org/1999/html">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">This is Fusion+Blazor sample - the most advanced one we have.</p>
    <p>
        Choose the mode to use:<br/>
        <BlazorModeSwitch/>
    </p>
    <hr class="my-4">
    <p class="lead">Please share your feedback once you're done playing with it!</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://forms.gle/TpGkmTZttukhDMRB6" role="button">Share your feedback</a>
    </p>
</div>
