@page "/serverScreen"
@using System.Threading
@inherits LiveComponentBase<Screenshot, ServerScreen.LocalsModel>
@inject IScreenshotService ScreenshotService

@{
    var locals = Locals.Value;
    var error = State.Error;
}

<h1>Server Screen</h1>

<div class="input-group pb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Screenshot width (in pixels):</span>
    </div>
    <input class="form-control"
           @bind-value="locals.Width"
           @bind-value:event="oninput"
           @onkeyup="OnWidthChange"/>
    @if (locals.Width != locals.ActualWidth) {
        <div class="input-group-append">
            <span class="input-group-text">(actual width: @locals.ActualWidth)</span>
        </div>
    }
</div>

@if (error != null) {
    <div class="alert alert-warning" role="alert">
        Update error: @error.Message
    </div>
}

<p><img src="data:image/jpeg;base64,@State.LastValue.Base64Content" alt="Server screen" width="100%" /><br/></p>

@code {
    public class LocalsModel
    {
        public int Width { get; set; } = 1280;
        public int ActualWidth => Math.Max(8, Math.Min(1920, Width));
    }

    protected override async Task OnInitializedAsync()
        => await State.UpdateAsync(false); // An example showing how to load the State before the first render

    protected override void ConfigureState(LiveState<Screenshot>.Options options)
        => options.WithUpdateDelayer(0);

    protected override Task<Screenshot> ComputeStateAsync(CancellationToken cancellationToken)
        => ScreenshotService.GetScreenshotAsync(Locals.Value.ActualWidth, cancellationToken);

    private void OnWidthChange()
        => State.CancelUpdateDelay();
}
