@page "/game/{GameEngineId}"
@using System.Threading
@using Samples.BoardGames.Abstractions
@inherits LiveComponentBase<Game.Model, Game.Locals>
@inject IGameService GameService

@{
}

<h1>Game</h1>

<StatefulComponentState Component="@this" />

@code {
    public class Model {
    }

    public class Locals {
    }

    [Parameter]
    public string GameEngineId { get; set; }

    protected override void OnInitialized()
    {
        StateHasChangedTriggers = StateEventKind.All;
        base.OnInitialized();
    }

    protected override void ConfigureState(LiveState<Model>.Options options)
        => options.WithUpdateDelayer(0.5);

    protected override async Task<Model> ComputeStateAsync(CancellationToken cancellationToken)
        => new();
}
