@page "/"

<Jumbotron>
    <JumbotronTitle>Welcome to Board Games!</JumbotronTitle>

    <Paragraph>
        "Board Games" is a new
        <a href="https://github.com/servicetitan/Stl.Fusion" target="_blank">Fusion</a>
        sample application showing how to implement
        a real-time board game service on Fusion.
    </Paragraph>

    <Paragraph>
        Choose the mode to use:<br/>
        <BlazorModeSwitch/>
    </Paragraph>

    <hr class="my-4">

    <Paragraph Class="lead">
        Please share your feedback once you're done playing with it!<br/>
    </Paragraph>

    <Paragraph>
        <Button Color="Color.Primary" Size="Size.Large"
                To="https://forms.gle/TpGkmTZttukhDMRB6"
                Target="Target.Blank">
            Share the feedback
        </Button>
    </Paragraph>

    <Note Title="Note:">
        you can also trigger actions in this sample via its
        <a href="/swagger" target="_blank">web API</a>.
    </Note>
</Jumbotron>
