@page "/counter"
@inherits LiveComponentBase<CounterState>
@inject CounterService CounterService

<h1>Counter</h1>

<p>Current count: @State.Counter</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private async Task IncrementCount()
    {
        await CounterService.IncrementCounterAsync();
        // The next Invalidate() call is optional:
        // it cancels the active update delay, nothing else.
        // You can comment it out & see it still works, though
        // the updates are coming with default 1 second delay.
        Invalidate();
    }
}
