@page "/counter"
@using System.Threading
@inherits LiveComponentBase<string>
@inject CounterService CounterService
@inject TimeService TimeService
@inject NavigationManager Navigator

@{
    var state = State.LastValue;
    var error = State.Error;
}

<h1>Counter</h1>

<div class="alert alert-primary">
    Open this page in <a href="@Navigator.Uri" target="_blank">another window</a> to see it updates in sync.
</div>
@if (error != null) {
    <div class="alert alert-warning" role="alert">Update error: @error.Message</div>
}

<p>Count: @state</p>

<button class="btn btn-primary" @onclick="IncrementAsync">Increment</button>

@code {
    protected override async Task<string> ComputeStateAsync(CancellationToken cancellationToken)
    {
        var (count, changeTime) = await CounterService.GetCounterAsync().ConfigureAwait(false);
        var momentsAgo = await TimeService.GetMomentsAgoAsync(changeTime).ConfigureAwait(false);
        return $"{count}, changed {momentsAgo}";
    }

    private async Task IncrementAsync()
    {
        await CounterService.IncrementCounterAsync();
        // The next Invalidate(true) call is optional:
        // it cancels active update delay, nothing else.
        // You can comment it out & see it still works,
        // though the counter changes with 0.5s delay
        // (the default update delay is set to 0.5s in Startup.cs).
        State.Invalidate(true);
    }
}
